In [6]:
# Importing the pandas module for data cleaning
import pandas as pd

# Reading the data frames for agriculture

In [7]:
agri_df_value = pd.read_csv('static/Dataset/agriculturaldata/agriculture-value-added-per-worker-wdi.csv')
agri_df_value

,Entity,Code,Year,"Agriculture, value added per worker (constant 2010 US$)"
0,Afghanistan,AFG,2002,872.846684
1,Afghanistan,AFG,2003,856.625361
2,Afghanistan,AFG,2004,657.038803
3,Afghanistan,AFG,2005,724.391297
4,Afghanistan,AFG,2006,686.918524
...,...,...,...,...
5228,Zimbabwe,ZWE,2013,269.582684
5229,Zimbabwe,ZWE,2014,317.117440
5230,Zimbabwe,ZWE,2015,293.152050
5231,Zimbabwe,ZWE,2016,274.353843
5232,Zimbabwe,ZWE,2017,300.529041

In [8]:
agri_df_value.columns

Index(['Entity', 'Code', 'Year',
       'Agriculture, value added per worker (constant 2010 US$)'],
      dtype='object')

In [10]:
# Cash Crops Value
cash_crops = pd.read_csv('static/Dataset/agriculturaldata/cashcrops.csv')
cash_crops

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,2,Afghanistan,5419,Yield,328,Cotton,2018,2018,hg/ha,10000,Fc,Calculated data
1,QC,Crops,3,Albania,5419,Yield,328,Cotton,2018,2018,hg/ha,11081,Fc,Calculated data
2,QC,Crops,3,Albania,5419,Yield,826,Tobacco,2018,2018,hg/ha,16863,Fc,Calculated data
3,QC,Crops,4,Algeria,5419,Yield,328,Cotton,2018,2018,hg/ha,3077,Fc,Calculated data
4,QC,Crops,4,Algeria,5419,Yield,826,Tobacco,2018,2018,hg/ha,20967,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,QC,Crops,251,Zambia,5419,Yield,826,Tobacco,2018,2018,hg/ha,17659,Fc,Calculated data
404,QC,Crops,181,Zimbabwe,5419,Yield,656,Coffee,2018,2018,hg/ha,2419,Fc,Calculated data
405,QC,Crops,181,Zimbabwe,5419,Yield,328,Cotton,2018,2018,hg/ha,5625,Fc,Calculated data
406,QC,Crops,181,Zimbabwe,5419,Yield,667,Tea,2018,2018,hg/ha,34722,Fc,Calculated data
407,QC,Crops,181,Zimbabwe,5419,Yield,826,Tobacco,2018,2018,hg/ha,13114,Fc,Calculated data