In [1]:
# Importing dependencies for datacleaning
import pandas as pd

# Agriculture

In [2]:
# Creating data frames for each csv data
agri_value = pd.read_csv('static/Dataset/agriculture-value-added-per-worker-wdi.csv')
agri_value

,Entity,Code,Year,"Agriculture, value added per worker (constant 2010 US$)"
0,Afghanistan,AFG,2002,872.846684
1,Afghanistan,AFG,2003,856.625361
2,Afghanistan,AFG,2004,657.038803
3,Afghanistan,AFG,2005,724.391297
4,Afghanistan,AFG,2006,686.918524
...,...,...,...,...
5228,Zimbabwe,ZWE,2013,269.582684
5229,Zimbabwe,ZWE,2014,317.117440
5230,Zimbabwe,ZWE,2015,293.152050
5231,Zimbabwe,ZWE,2016,274.353843
5232,Zimbabwe,ZWE,2017,300.529041

In [3]:
cashcrops = pd.read_csv('static/Dataset/cashcrops.csv')
cashcrops

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1961,1961,kg/ha,6802,Fc,Calculated data
1,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1962,1962,kg/ha,8786,Fc,Calculated data
2,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1963,1963,kg/ha,9307,Fc,Calculated data
3,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1964,1964,kg/ha,6589,Fc,Calculated data
4,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1965,1965,kg/ha,9513,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25953,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2014,2014,kg/ha,14301,Fc,Calculated data
25954,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2015,2015,kg/ha,12948,Fc,Calculated data
25955,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2016,2016,kg/ha,16479,Fc,Calculated data
25956,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2017,2017,kg/ha,21298,Fc,Calculated data
25957,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2018,2018,kg/ha,13114,Fc,Calculated data

In [4]:
expenditure = pd.read_csv('static/Dataset/share-of-consumer-expenditure-spent-on-food-vs-gdp-per-capita.csv')
expenditure

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,"GDP per capita, PPP (constant 2011 international $)",Share of consumer expenditure on food (USDA (2017))
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1801,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1802,3280000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1803,3280000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
48158,Zimbabwe,ZWE,2016,14030000.0,NaN,1879.628119,NaN
48159,Zimbabwe,ZWE,2017,14237000.0,NaN,1899.774977,NaN
48160,Zimbabwe,ZWE,2018,14439000.0,NaN,NaN,NaN
48161,Zimbabwe,ZWE,2019,14645000.0,NaN,NaN,NaN
48162,Åland Islands,ALA,2015,NaN,Europe,NaN,NaN

In [5]:
stapelcrops = pd.read_csv('static/Dataset/staplecrops.csv')
stapelcrops

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,kg/ha,14000,Fc,Calculated data
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,kg/ha,14000,Fc,Calculated data
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,kg/ha,14260,Fc,Calculated data
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,kg/ha,14257,Fc,Calculated data
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,kg/ha,14400,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37282,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2014,2014,kg/ha,22094,Fc,Calculated data
37283,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2015,2015,kg/ha,20486,Fc,Calculated data
37284,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2016,2016,kg/ha,19013,Fc,Calculated data
37285,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2017,2017,kg/ha,17542,Fc,Calculated data
37286,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2018,2018,kg/ha,20010,Fc,Calculated data

In [6]:
# Data cleaning
agri_value.columns

Index(['Entity', 'Code', 'Year',
       'Agriculture, value added per worker (constant 2010 US$)'],
      dtype='object')

In [7]:
agri_value1 = agri_value.rename(columns={'Agriculture, value added per worker (constant 2010 US$)':'value_per_worker','Area':'country'}).drop(columns=['Code'])
agri_value1

           Entity  Year  value_per_worker
0     Afghanistan  2002        872.846684
1     Afghanistan  2003        856.625361
2     Afghanistan  2004        657.038803
3     Afghanistan  2005        724.391297
4     Afghanistan  2006        686.918524
...           ...   ...               ...
5228     Zimbabwe  2013        269.582684
5229     Zimbabwe  2014        317.117440
5230     Zimbabwe  2015        293.152050
5231     Zimbabwe  2016        274.353843
5232     Zimbabwe  2017        300.529041

[5233 rows x 3 columns]

In [8]:
cashcrops

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1961,1961,kg/ha,6802,Fc,Calculated data
1,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1962,1962,kg/ha,8786,Fc,Calculated data
2,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1963,1963,kg/ha,9307,Fc,Calculated data
3,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1964,1964,kg/ha,6589,Fc,Calculated data
4,QC,Crops,2,Afghanistan,5419,Yield,328,cotton,1965,1965,kg/ha,9513,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25953,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2014,2014,kg/ha,14301,Fc,Calculated data
25954,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2015,2015,kg/ha,12948,Fc,Calculated data
25955,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2016,2016,kg/ha,16479,Fc,Calculated data
25956,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2017,2017,kg/ha,21298,Fc,Calculated data
25957,QC,Crops,181,Zimbabwe,5419,Yield,826,tobacco,2018,2018,kg/ha,13114,Fc,Calculated data

In [9]:
cashcrops.columns

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

In [10]:
cashcrops1 = cashcrops.rename(columns={'Area':'country','Value':'value_kg_hg'}).drop(columns=['Domain Code', 'Domain', 'Area Code','Element Code', 'Element',
       'Item Code','Year Code','Unit','Flag',
       'Flag Description'])

cashcrops1

           country     Item  Year  value_kg_hg
0      Afghanistan   cotton  1961         6802
1      Afghanistan   cotton  1962         8786
2      Afghanistan   cotton  1963         9307
3      Afghanistan   cotton  1964         6589
4      Afghanistan   cotton  1965         9513
...            ...      ...   ...          ...
25953     Zimbabwe  tobacco  2014        14301
25954     Zimbabwe  tobacco  2015        12948
25955     Zimbabwe  tobacco  2016        16479
25956     Zimbabwe  tobacco  2017        21298
25957     Zimbabwe  tobacco  2018        13114

[25958 rows x 4 columns]